In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Loan Prediction.csv')

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
data.shape

(614, 13)

In [5]:
print("Number of Rows",data.shape[0])
print("Number of Columns",data.shape[1])

Number of Rows 614
Number of Columns 13

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

#### Check Null Values In The Dataset

In [7]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
data.isnull().sum()*100 / len(data)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

#### Handling The missing Values

In [9]:
data = data.drop('Loan_ID',axis=1)

In [10]:
data.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y

In [11]:
columns = ['Gender','Dependents','LoanAmount','Loan_Amount_Term']

In [12]:
data = data.dropna(subset=columns)

In [13]:
data.isnull().sum()*100 / len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        5.424955
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [14]:
data['Self_Employed'].mode()[0]

'No'

In [15]:
data['Self_Employed'] =data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])

In [16]:
data.isnull().sum()*100 / len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        0.000000
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [17]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [18]:
data['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [19]:
data['Credit_History'].mode()[0]

1.0

In [20]:
data['Credit_History'] =data['Credit_History'].fillna(data['Credit_History'].mode()[0])

In [21]:
data.isnull().sum()*100 / len(data)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

#### Handling Categorical Columns

In [22]:
data.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
528,Male,No,1,Not Graduate,No,2679,1302.0,94.0,360.0,1.0,Semiurban,Y
142,Male,No,0,Graduate,Yes,6950,0.0,175.0,180.0,1.0,Semiurban,Y
442,Male,No,3+,Not Graduate,No,4707,1993.0,148.0,360.0,1.0,Semiurban,Y
394,Male,Yes,2,Graduate,No,3100,1400.0,113.0,360.0,1.0,Urban,Y
294,Male,Yes,0,Graduate,No,2383,3334.0,172.0,360.0,1.0,Semiurban,Y

In [23]:
data['Dependents'] =data['Dependents'].replace(to_replace="3+",value='4')

In [24]:
data['Dependents'].unique()

array(['1', '0', '2', '4'], dtype=object)

In [25]:
data['Loan_Status'].unique()

array(['N', 'Y'], dtype=object)

In [26]:
data['Gender'] = data['Gender'].map({'Male':1,'Female':0}).astype('int')
data['Married'] = data['Married'].map({'Yes':1,'No':0}).astype('int')
data['Education'] = data['Education'].map({'Graduate':1,'Not Graduate':0}).astype('int')
data['Self_Employed'] = data['Self_Employed'].map({'Yes':1,'No':0}).astype('int')
data['Property_Area'] = data['Property_Area'].map({'Rural':0,'Semiurban':2,'Urban':1}).astype('int')
data['Loan_Status'] = data['Loan_Status'].map({'Y':1,'N':0}).astype('int')

In [27]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1

#### Store Feature Matrix In X And Response (Target) In Vector y

In [28]:
X = data.drop('Loan_Status',axis=1)

In [29]:
y = data['Loan_Status']

In [30]:
y

1      0
2      1
3      1
4      1
5      1
6      1
7      0
8      1
9      0
10     1
11     1
12     1
13     0
14     1
15     1
16     1
17     0
18     0
20     0
21     1
22     0
24     0
25     1
26     1
27     1
28     0
29     1
30     0
31     0
32     0
      ..
580    1
581    0
582    1
583    0
584    0
585    0
586    1
587    1
589    0
590    1
591    0
593    1
594    1
595    1
596    0
598    1
599    1
600    0
601    1
602    1
603    1
604    1
606    1
607    1
608    1
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 553, dtype: int32

#### Feature Scaling

In [31]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1

In [32]:
cols = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']

In [33]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()
X[cols]=st.fit_transform(X[cols])

In [34]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,-0.128694,-0.049699,-0.214368,0.279961,1.0,0
2,1,1,0,1,1,-0.394296,-0.545638,-0.952675,0.279961,1.0,1
3,1,1,0,0,0,-0.464262,0.229842,-0.309634,0.279961,1.0,1
4,1,0,0,1,0,0.109057,-0.545638,-0.059562,0.279961,1.0,1
5,1,1,2,1,1,0.011239,0.834309,1.440866,0.279961,1.0,1
6,1,1,0,0,0,-0.506208,-0.047068,-0.607338,0.279961,1.0,1
7,1,1,4,1,0,-0.388256,0.277858,0.142876,0.279961,0.0,2
8,1,1,2,1,0,-0.225505,-0.043779,0.261958,0.279961,1.0,1
9,1,1,1,1,0,1.256869,3.061432,2.417336,0.279961,1.0,2
10,1,1,2,1,0,-0.360739,-0.315428,-0.905042,0.279961,1.0,1
11,1,1,2,1,0,-0.478188,0.059487,-0.440624,0.279961,1.0,1
12,1,1,2,1,0,-0.382048,2.120200,0.643019,0.279961,1.0,1
13,1,0,0,1,0,-0.586745,0.388359,-0.381083,0.279961,1.0,0
14,1,1,2,1,0,-0.679697,-0.188483,-1.536175,-3.384377,1.0,1
15,1,0,0,1,0,-0.067117,-0.545638,-0.250093,0.279961,1.0,1
16,1,0,1,0,0,-0.294297,-0.545638,-0.547797,-1.552208,1.0,1
17,0,0,0,1,0,-0.308726,-0.545638,-0.833593,0.279961,0.0,1
18,1,1,0,0,0,-0.077687,-0.545638,-0.154828,0.279961,1.0,0
20,1,1,0,0,0,0.387579,-0.545638,-0.500164,0.279961,0.0,1
21,1,1,1,1,0,0.101506,1.304268,2.012458,0.279961,1.0,1
22,1,1,0,0,0,-0.461410,0.082837,-0.357266,0.279961,0.0,2
24,1,1,1,1,0,-0.273995,0.416313,0.059519,0.279961,1.0,2
25,1,1,0,1,1,0.706369,-0.545638,0.535846,0.279961,1.0,2
26,1,1,0,1,0,-0.428021,0.195311,-0.285817,0.279961,1.0,2
27,1,1,2,0,0,-0.188593,-0.203611,-0.428715,0.279961,1.0,1
28,1,0,0,0,0,-0.655704,-0.545638,-1.321828,0.279961,1.0,1
29,0,0,2,1,0,-0.268458,0.139403,-0.309634,0.279961,1.0,2
30,1,1,1,1,0,-0.198660,0.562332,0.654927,0.279961,1.0,1
31,1,0,0,1,0,-0.366276,-0.545638,-0.857409,0.279961,1.0,1
32,1,0,1,1,1,-0.110405,-0.545638,-0.476348,0.279961,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...
580,1,1,2,1,0,0.199660,-0.545638,0.702560,0.279961,1.0,2
581,1,0,0,1,0,-0.589597,10.582409,-0.666879,0.279961,1.0,1
582,0,1,0,1,0,-0.366444,-0.545638,-1.309920,0.279961,1.0,2
583,1,1,1,1,0,-0.582215,-0.545638,-1.012215,0.279961,1.0,0
584,1,1,1,1,0,-0.430034,0.084810,-0.000022,0.279961,0.0,0
585,1,1,1,1,0,-0.179029,0.440978,0.309591,-3.934027,1.0,0
586,1,1,0,1,0,-0.512249,-0.045095,-0.500164,0.279961,1.0,1
587,0,0,0,0,0,-0.534396,-0.545638,-0.905042,0.279961,1.0,2
589,1,1,2,1,1,-0.440269,-0.545638,-0.476348,0.279961,0.0,2
590,1,1,0,1,0,-0.394296,0.577789,-1.071756,-2.468292,1.0,2
591,1,1,2,1,1,0.109057,-0.545638,0.702560,-1.552208,1.0,2
593,1,1,0,1,0,-0.250169,0.539640,-0.047654,-2.468292,1.0,0
594,1,1,0,1,1,1.807034,-0.545638,1.357509,0.279961,1.0,1
595,1,0,0,0,0,-0.254532,-0.545638,-0.428715,0.279961,1.0,0
596,1,1,2,0,1,0.173318,-0.216766,0.488213,0.279961,1.0,0
598,1,1,0,1,1,0.773986,-0.545638,0.404856,0.279961,1.0,0
599,1,1,2,1,0,0.072144,-0.545638,0.547754,0.279961,1.0,1
600,0,0,4,1,0,-0.827851,13.157478,2.429244,-2.468292,1.0,1
601,1,1,0,0,0,-0.412081,0.372573,0.107152,0.279961,1.0,0
602,1,1,4,1,0,0.059225,-0.545638,-0.214368,0.279961,1.0,1
603,1,0,0,1,0,-0.280874,0.868841,0.309591,0.279961,1.0,0
604,0,1,1,1,0,1.115763,-0.545638,4.167836,0.279961,1.0,2
606,1,1,1,1,0,-0.327182,0.276542,0.321499,0.279961,1.0,2
607,1,1,2,0,0,-0.228693,-0.081599,0.130968,0.279961,1.0,0
608,1,1,0,1,0,-0.355370,0.095663,-0.452532,0.279961,1.0,0
609,0,0,0,1,0,-0.411075,-0.545638,-0.893134,0.279961,1.0,0
610,1,1,4,1,0,-0.208727,-0.545638,-1.262287,-2.468292,1.0,0
611,1,1,1,1,0,0.456706,-0.466709,1.274152,0.279961,1.0,1
612,1,1,2,1,0,0.374659,-0.545638,0.488213,0.279961,1.0,1
613,0,0,0,1,1,-0.128694,-0.545638,-0.154828,0.279961,0.0,2

#### Splitting The Dataset Into The Training Set And Test Set & Applying K-Fold Cross Validation

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np

In [36]:
model_df={}
def model_val(model,X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y,
                                                   test_size=0.20,
                                                   random_state=42)
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    print(f"{model} accuracy is {accuracy_score(y_test,y_pred)}")
    
    score = cross_val_score(model,X,y,cv=5)
    print(f"{model} Avg cross val score is {np.mean(score)}")
    model_df[model]=round(np.mean(score)*100,2)

In [37]:
model_df

{}

#### Logistic Regression

In [38]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model_val(model,X,y)

LogisticRegression() accuracy is 0.8018018018018018
LogisticRegression() Avg cross val score is 0.8047829647829647

In [39]:
from sklearn import svm
model = svm.SVC()
model_val(model,X,y)

SVC() accuracy is 0.7927927927927928
SVC() Avg cross val score is 0.7938902538902539

#### Decision Tree Classifier

In [40]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model_val(model,X,y)

DecisionTreeClassifier() accuracy is 0.7477477477477478
DecisionTreeClassifier() Avg cross val score is 0.7125307125307125

#### Random Forest Classifier

In [41]:
from sklearn.ensemble import RandomForestClassifier
model =RandomForestClassifier()
model_val(model,X,y)

RandomForestClassifier() accuracy is 0.7657657657657657
RandomForestClassifier() Avg cross val score is 0.7884848484848486

##### Gradient Boosting Classifier

In [42]:
from sklearn.ensemble import GradientBoostingClassifier
model =GradientBoostingClassifier()
model_val(model,X,y)

GradientBoostingClassifier() accuracy is 0.7927927927927928
GradientBoostingClassifier() Avg cross val score is 0.7721539721539721

#### Hyperparameter Tuning

In [43]:
from sklearn.model_selection import RandomizedSearchCV

#### Logistic Regression

In [44]:
log_reg_grid={"C":np.logspace(-4,4,20),
             "solver":['liblinear']}

In [45]:
rs_log_reg=RandomizedSearchCV(LogisticRegression(),
                   param_distributions=log_reg_grid,
                  n_iter=20,cv=5,verbose=True)

In [46]:
rs_log_reg.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [47]:
rs_log_reg.best_score_

0.8047829647829647

In [48]:
rs_log_reg.best_params_

{'solver': 'liblinear', 'C': 0.23357214690901212}

#### SVC

In [49]:
svc_grid = {'C':[0.25,0.50,0.75,1],"kernel":["linear"]}

In [50]:
rs_svc=RandomizedSearchCV(svm.SVC(),
                  param_distributions=svc_grid,
                   cv=5,
                   n_iter=20,
                  verbose=True)

In [51]:
rs_svc.fit(X,y)

C:\Users\DR MAHMOUD\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:289: UserWarning: The total space of parameters 4 is smaller than n_iter=20. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

RandomizedSearchCV(cv=5, estimator=SVC(), n_iter=20,
                   param_distributions={'C': [0.25, 0.5, 0.75, 1],
                                        'kernel': ['linear']},
                   verbose=True)

In [52]:
rs_svc.best_score_

0.8066011466011467

In [53]:
rs_svc.best_params_

{'kernel': 'linear', 'C': 0.25}

#### Random Forest Classifier

In [54]:
RandomForestClassifier()

RandomForestClassifier()

In [55]:
rf_grid={'n_estimators':np.arange(10,1000,10),
  'max_features':['auto','sqrt'],
 'max_depth':[None,3,5,10,20,30],
 'min_samples_split':[2,5,20,50,100],
 'min_samples_leaf':[1,2,5,10]
 }

In [56]:
rs_rf=RandomizedSearchCV(RandomForestClassifier(),
                  param_distributions=rf_grid,
                   cv=5,
                   n_iter=20,
                  verbose=True)

In [57]:
rs_rf.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'max_depth': [None, 3, 5, 10, 20, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 20, 50,
                                                              100],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [58]:
rs_rf.best_score_

0.8066175266175266

In [59]:
rs_rf.best_params_

{'n_estimators': 910,
 'min_samples_split': 50,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'max_depth': 10}

#### Save The Model

In [61]:
X = data.drop('Loan_Status',axis=1)
y = data['Loan_Status']

In [62]:
rf = RandomForestClassifier(n_estimators=270,
 min_samples_split=5,
 min_samples_leaf=5,
 max_features='sqrt',
 max_depth=5)

In [63]:
rf.fit(X,y)

RandomForestClassifier(max_depth=5, max_features='sqrt', min_samples_leaf=5,
                       min_samples_split=5, n_estimators=270)

In [64]:
import joblib

In [65]:
joblib.dump(rf,'loan_status_predict')

['loan_status_predict']

In [66]:
model = joblib.load('loan_status_predict')

In [67]:
import pandas as pd
df = pd.DataFrame({
    'Gender':1,
    'Married':1,
    'Dependents':2,
    'Education':0,
    'Self_Employed':0,
    'ApplicantIncome':2889,
    'CoapplicantIncome':0.0,
    'LoanAmount':45,
    'Loan_Amount_Term':180,
    'Credit_History':0,
    'Property_Area':1
},index=[0])

In [68]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,2,0,0,2889,0.0,45,180,0,1

In [69]:
result = model.predict(df)

In [70]:
if result==1:
    print("Loan Approved")
else:
    print("Loan Not Approved")

Loan Not Approved

#### GUI

In [71]:
from tkinter import *
import joblib
import pandas as pd

In [72]:
def show_entry():
    
    p1 = float(e1.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    p8 = float(e8.get())
    p9 = float(e9.get())
    p10 = float(e10.get())
    p11 = float(e11.get())
    
    model = joblib.load('loan_status_predict')
    df = pd.DataFrame({
    'Gender':p1,
    'Married':p2,
    'Dependents':p3,
    'Education':p4,
    'Self_Employed':p5,
    'ApplicantIncome':p6,
    'CoapplicantIncome':p7,
    'LoanAmount':p8,
    'Loan_Amount_Term':p9,
    'Credit_History':p10,
    'Property_Area':p11
},index=[0])
    result = model.predict(df)
    
    if result == 1:
        Label(master, text="Loan approved").grid(row=31)
    else:
        Label(master, text="Loan Not Approved").grid(row=31)
        
    
master =Tk()
master.title("Loan Status Prediction Using Machine Learning")
label = Label(master,text = "Loan Status Prediction",bg = "black",
               fg = "white").grid(row=0,columnspan=2)

Label(master,text = "Gender [1:Male ,0:Female]").grid(row=1)
Label(master,text = "Married [1:Yes,0:No]").grid(row=2)
Label(master,text = "Dependents [1,2,3,4]").grid(row=3)
Label(master,text = "Education").grid(row=4)
Label(master,text = "Self_Employed").grid(row=5)
Label(master,text = "ApplicantIncome").grid(row=6)
Label(master,text = "CoapplicantIncome").grid(row=7)
Label(master,text = "LoanAmount").grid(row=8)
Label(master,text = "Loan_Amount_Term").grid(row=9)
Label(master,text = "Credit_History").grid(row=10)
Label(master,text = "Property_Area").grid(row=11)


e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)
e8 = Entry(master)
e9 = Entry(master)
e10 = Entry(master)
e11 = Entry(master)


e1.grid(row=1,column=1)
e2.grid(row=2,column=1)
e3.grid(row=3,column=1)
e4.grid(row=4,column=1)
e5.grid(row=5,column=1)
e6.grid(row=6,column=1)
e7.grid(row=7,column=1)
e8.grid(row=8,column=1)
e9.grid(row=9,column=1)
e10.grid(row=10,column=1)
e11.grid(row=11,column=1)

Button(master,text="Predict",command=show_entry).grid()
mainloop()